:root {
  --green: #5baf4c75;
  --background: #0c0c0c;
  --exit: #860111;
  --white: #d6d4c4f2;
  --yellow: #aea919;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

body {
  background-color: var(--background);
  margin: 0;
}

.game__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 100vh;
}

.my__canvas {
  border: 5px solid var(--green);
}

.snake__restart {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  position: absolute;
  top: 100px;
  left: 120px;
  font-weight: bold;
}

.snake__restart:hover {
  background-color: var(--exit);
  color: white;
  border: none;
  font-size: 18px;
  transition-duration: 1s;
}

.game__over {
  color: var(--exit);
  font-size: 50px;
  position: absolute;
  left: 550px;
  top: 330px;
}

.visibility--hidden {
  visibility: hidden;
}

.visibility--visible {
  visibility: visible;
}

.opacity-full {
  opacity: 1;
}

.left__design {
  opacity: 0.7;
  width: 190px;
  height: 98%;
}

.snake {
  position: absolute;
  bottom: 0;
  right: 0;
}

.img__snake {
  width: 100px;
  height: 100px;
}

.game_title {
  color: var(--white);
  font-size: 85px;
  margin-left: 20px;
}

.score__display {
  color: white;
  min-height: 200px;
  min-width: 100px;
  overflow: hidden;
}

.score__display .score__elements {
  position: absolute;
  top: 250px;
}

.score__display .score__img {
  position: relative;
  width: 200px;
  height: 200px;
  opacity: 0.7;
}

.score__display .score__number {
  position: absolute;
  padding-left: 75px;
  font-size: 100px;
  color: var(--yellow);
}

.score__display .score__label {
  padding-left: 90px;
  font-size: 30px;
  font-weight: bolder;
  color: var(--white);
}

.grass_container {
  position: absolute;
  bottom: 0;
  padding-left: 30px;
}

.grass_container .grass {
  height: 200px;
  width: 19%;
}
